body{
    background-color: #516BFF;
}

.login-box{
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}

.login-form{
    margin-top: 50px;
}

.login-h-1{
    color: rgb(255, 255, 255);
    font-size:48px;
    margin:0px;
}

.login-h-2{
    color: rgb(255, 255, 255);
    font-size:36px;
    margin-top: 0px;
}

.login-user-h{
    text-align: left;
    font-size: 16px;
    font-weight: 500;
}

.login-MobileNO-h{
    text-align: left;
    font-size: 16px;
    font-weight: 500;
}

.login-input{
    width: 286px;
    height: 50px;
    border-radius: 10px;
    border: none;
}

.login-button-1{
    margin-top: 40px;
    width: 180px;
    height: 50px;
    border-radius: 10px;
    border: none;
    color: #516BFF;
    font-size: 20px;
}
